<h1>All about me.</h1>
<p>My name is Brian Anderson, and I'm excited to begin my Development career. Coding has been quite the adventure so far and I can't wait to see where it takes me.</p>
<p>I've been married for a little over a year.</p>
<p>In the winter, snowboarding is a really big part of my life. Basketball also is very high on my list of things I enjoy. I'm a very outdoorsy type of guy.</p>

