<div class="app-card-container">
  <div class="card">
    <div class="inner cover">
      <h1 class="cover-heading">Hi.</h1>
      <p class="lead">I code. I automate Marketing. Let's make something beautiful.</p>
      <p style="text-align:center" class="lead">
        <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
      </p>
    </div>
  </div>
</div>



       

