<div class="app-card-container">
  <div class="card">
    <div class="inner cover">
      <h1 class="cover-heading">Hi.</h1>
      <p class="lead">You're about to get a look at what I've been up to for the last little while. Coding is the chance to make something great out of nothing. Things are always changing and always exciting. Take a look around and let me know what you think!</p>
      <p style="text-align:center" class="lead">
        <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
      </p>
    </div>
  </div>
</div>



       

