<div class="inner cover">
  <h1 class="cover-heading">Welcome to my site.</h1>
  <p class="lead">You're about to get a look at what I've been up to for the last little while. Take a look around and let me know what you think!</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

       

